h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

h1 a{
    text-decoration: none;
}

h2{
    font-family: sans-serif;
    text-decoration: underline;
    text-align: center;
}

h3{
    font-family: sans-serif;
    text-align: left;
    margin-left: 2%
}

/*Text Colors*/

.red{
    color: red;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.yellow{
    color: gold;
}

.black{
    color: black;
}

.text{
    color: black;
    text-align:justify;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title{
    font-style: italic;
}

.ds{
    margin-bottom: 10px;
}

/*navbar*/
#navbar{
    background-color:rgb(220, 220, 220);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    overflow: hidden;
    list-style-type: none;
}
#navlink{
    text-align: center;
    display: inline;
    font-weight: bold;
    float:left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color:  rgb(235, 235, 235);
}

.active_grey{
    background-color: rgb(160, 160, 160);
}

.active_red{
    background-color:rgb(255, 117, 117);
}

.active_blue{
    background-color:rgb(122, 117, 255);
}

.active_green{
    background-color:rgb(117, 255, 145);
}

.active_yellow{
    background-color:rgb(255, 234, 117);
}